{{>header}}
  <div class="restaurant">
    <img class="logo" src="{{img}}" alt="{{name}}">
      <h2>{{name}}</h2>
        <div>Name: {{name}}</div>
        <div>Location: {{location}}</div>
        <div>Description: {{description}}</div>
        <div>Rating: {{rating}}</div>
        <div>Food Grade: {{food_grade}}</div>
        <a href="{{id}}/reviews">Reviews</a>
  </div>
{{>footer}}
{{!-- done --}}

{{!-- For testing only: will display all restaurants from table as bullet points  --}}
{{!-- <ul>
  {{#each restaurants}}
  <li>{{id}}</li>
  <li>{{name}}</li>
  <li>{{location}}</li>
  <li>{{description}}</li>
  <li>{{rating}}</li>
  <li>{{food_grade}}</li>
  {{/each}}
</ul> --}}