<div class="reviews">
  {{>header}}
  <div>
    <img class="logo" src="{{viewReviews.restaurant.img}}" alt="{{viewReviews.restaurant.name}} image">
    <h2>{{viewReviews.restaurant.name}}'s reviews</h2>
    <p>Total Rating : {{viewReviews.rating}}<p>
    <a class="" href="/restaurants/{{viewReviews.restaurant.id}}/addReview">add review</a>
  </div>
{{#each viewReviews.reviews}}
  <div>
    <div>
    <img class="logo" src="{{userImage}}" alt="{{userName}}">
    <h3>{{userName}}  <a href="/users/{{userId}}">>>View Profile</a></h3>
    <p>Rating: {{rating}}</p>
    <p>{{review}}</p>
    <div>
  </div>
{{/each}}
{{>footer}}
</div>
