<div class="reviews">
  {{#each reviews}}
  <img class="img-c ircle" src="/{{}}" alt="{{restaurantName}}">
  <p>{{userName}}</p>
  <p>Reviewer | 26 Reviews | 7 photos</p>
  <p></p>

  <h2>{{restaurantName}}</h2>
  <div>Rating: {{rating}}</div>
  <p>7 hours age</p>
  <p>{{review}}</p>
{{/each}}
</div>

