{{>header}}

<div class="reviews">
  <div>
    <img class="logo" src="{{viewReviews.restaurant.img}}" alt="{{viewReviews.restaurant.name}} image">
    <h2>{{viewReviews.restaurant.name}}'s reviews</h2>
    <p>Total Rating : {{viewReviews.restaurant.rating}}<p>
    <a class="" href="/restaurants/{{viewReviews.restaurant.id}}/addReview">add review</a>
  </div>
{{#each viewReviews.reviews}}
  <div>
    <div>
    <img class="logo" src="{{userImage}}" alt="{{userName}}">
    <p>{{userName}}</p>
    <p>Reviewer | {{id}} Reviews | 7 photos </p>
    <p>Rating: {{rating}}</p>
    <p>{{review}}</p>
    <div>
  </div>
{{/each}}
</div>

{{>footer}}