<div class="user">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Name: {{name}}</div>
  <div>About: {{about}}</div>
  <div>Email: {{email}}</div>
</div>
{{!-- done --}}