{{>header}}
{{>navigation}}
<div>
  <div class="user">
    <h1>{{user.name}}</h1>  
      <img class="logo" src="{{user.img}}" alt="{{user.name}}">
      <div>About: {{user.about}}</div>
      <div>Email: {{user.email}}</div>
  </div>  
</div>
<h2>All Reviews By User:</h2>
{{#each reviews}}
<div class="user">
  <img class="logo" src="{{restaurantImage}}" alt="{{restaurantName}}">
  <h3>{{restaurantName}}</h3>
  <div>Rating: {{rating}}</div>
  <div>Review: {{review}}</div>
</div>
{{/each}}
{{>footer}}
{{!-- done --}}

{{!-- For testing only: will display all users from table as bullet points  --}}
{{!-- <ul>
  {{#each users}}
  <li>{{name}} ({{about}})</li>
  {{/each}}
</ul> --}}