{{>header}}
{{>navigation}}
<h1>All Users:</h1>
{{#each users}}
  <img class="user-logo" src="{{img}}" alt="{{name}}">
  <div class="about-user">  
    <h2>{{name}}  -  <a href="users/{{id}}">Users Reviews</a></h2>
    <div>About: {{about}}</div>
    <div>Email: {{email}}</div>
  </div>
{{/each}}
{{>footer}}