{{>header}}
{{>navigation}}
<h1>All Users:</h1>
{{#each users}}
  <img class="logo" src="{{img}}" alt="{{name}}"><h2>{{name}}  ----  <a href="users/{{id}}">View All Reviews</a></h2>
  <div>About: {{about}}</div>
  <div>Email: {{email}}</div>
{{/each}}
{{>footer}}